body{
    margin: 0;
}
.Top-side{
    display: flex;
}
.Flaxible{
    width: 70%;
    margin-left: 10px;
    padding: 5px;
    text-align: justify;
}
.Flaxible img{
    width:80%;
}
h1{
    font-family: 'Lora', serif;
    font-family: 'Noto Serif', serif;
    font-size: 80px;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 88, 39),tomato);
    padding: 5px;
    border-radius: 30px;
    font-weight: 700;
    margin: 5px;
}
.color{
    color: #e67913;
}
.Mid-section{
    display:flex;
    background-image: url(images/Frame\ 59.jpg);
}
.Mid-section p{
    margin-right: 15px;
    padding: 5px;
}
.Mid-section img {
    border-radius: 80px;
    
}
.middel-section{
   display:flex;
   margin-bottom: 100px;
}
.width-shadow{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px #272727;
    padding-left: 10px;
    border-radius: 20px;
}
.width-shadow p{
                margin-left: 5px;
                margin-right: 10px;
                text-align: justify;
}
.Recipes-section{
    text-align: center;
    margin-bottom: 40px;
    margin-left: 100px;
    width: 80%;
    
}
.image-1{
 height: 200px;
 width: 295px;
 margin-top: 10px;
 border-radius: 20px;   
}
footer {
    text-align: center;
    background-color: rgb(40, 30, 51);
    height: 80px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
h2{
    color:#1b4343;
    padding: 5px;
}
.bacground{
    background-image: url(images/flat.jpg);
}
.contact-area{
    display: flex;

}
.contct-section{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
}
.table-body{
    border: 2px solid;
    margin-top:90px;
   padding: 20px;
   text-align: center;
}
#contact-text{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(56, 71, 72);
}



